In [1]:
# Initial imports.
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from imblearn.ensemble import EasyEnsembleClassifier
from sqlalchemy import create_engine
from config import db_password

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\fakpa\anaconda3\lib\site-packages (2.9.4)Note: you may need to restart the kernel to use updated packages.

In [3]:
# Create Database connection
engine = create_engine(f'postgresql://Wine:{db_password}@my-postgres-db.cyw40qiv0pda.us-east-2.rds.amazonaws.com:5432/postgres')
red_df = pd.read_sql("SELECT * FROM red", con=engine)
white_df = pd.read_sql("SELECT * FROM white", con=engine)
wine_df = pd.read_sql("SELECT * FROM (SELECT * FROM red UNION ALL SELECT * FROM white) total_table", con=engine)

In [4]:
red_df.columns

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'type'],
      dtype='object')

In [5]:
white_df.columns

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'type'],
      dtype='object')

In [6]:
# Examine Dataframe
wine_df.count()

fixed_acidity           5320
volatile_acidity        5320
citric_acid             5320
residual_sugar          5320
chlorides               5320
free_sulfur_dioxide     5320
total_sulfur_dioxide    5320
density                 5320
pH                      5320
sulphates               5320
alcohol                 5320
quality                 5320
type                    5320
dtype: int64

In [7]:
# Drop duplicate entries
wine_df= wine_df.drop_duplicates()
wine_df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,0

In [8]:
wine_df.count()

fixed_acidity           5320
volatile_acidity        5320
citric_acid             5320
residual_sugar          5320
chlorides               5320
free_sulfur_dioxide     5320
total_sulfur_dioxide    5320
density                 5320
pH                      5320
sulphates               5320
alcohol                 5320
quality                 5320
type                    5320
dtype: int64

In [9]:
# Applying the condition for quality
wine_df.loc[wine_df["quality"] < 7, "quality"] = 1
wine_df.loc[wine_df["quality"] >= 7, "quality"] = 0

In [10]:
wine_df["quality"].value_counts()

1    4311
0    1009
Name: quality, dtype: int64

In [11]:
# Define the features set.
X = wine_df.copy()
X = X.drop("quality", axis=1)
X.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,0
4,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,0

In [12]:
# Define the target set.
y = wine_df['quality']
y[:5]

0    1
1    1
2    1
3    1
4    1
Name: quality, dtype: int64

In [13]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [14]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [16]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [17]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
predictions

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [18]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 'Good'", "Actual 'Bad'"], columns=["Predicted 'Good'", "Predicted'Bad'"])

cm_df

               Predicted 'Good'  Predicted'Bad'
Actual 'Good'               100             153
Actual 'Bad'                 52            1025

In [19]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [20]:
# Displaying results
print("Quality Prediction")
print ("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Quality Prediction
Confusion Matrix

               Predicted 'Good'  Predicted'Bad'
Actual 'Good'               100             153
Actual 'Bad'                 52            1025

Accuracy Score : 0.8458646616541353
Classification Report
              precision    recall  f1-score   support

           0       0.66      0.40      0.49       253
           1       0.87      0.95      0.91      1077

    accuracy                           0.85      1330
   macro avg       0.76      0.67      0.70      1330
weighted avg       0.83      0.85      0.83      1330

In [21]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.06530836, 0.08020435, 0.07134246, 0.081628  , 0.08612455,
       0.08185435, 0.08507329, 0.11799766, 0.08021482, 0.08568112,
       0.16157294, 0.0029981 ])

In [22]:
# Sort the features by their importance.
print ("Quality Prediction Feature Importance")
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

Quality Prediction Feature Importance

[(0.16157294163051544, 'alcohol'),
 (0.11799766038378016, 'density'),
 (0.0861245515682511, 'chlorides'),
 (0.08568112100031045, 'sulphates'),
 (0.08507329063842427, 'total_sulfur_dioxide'),
 (0.08185434904130762, 'free_sulfur_dioxide'),
 (0.08162800042019658, 'residual_sugar'),
 (0.08021482207356466, 'pH'),
 (0.08020434591976978, 'volatile_acidity'),
 (0.07134246196090638, 'citric_acid'),
 (0.06530835601608387, 'fixed_acidity'),
 (0.0029980993468896717, 'type')]